.left-column {
    padding: $padding-xxl;
    background-color: $primary;
    color: #FFF;
    .row {
        padding: 0 $padding-xxl;
        justify-items: center;
        select {
            margin-bottom: $margin-xxl;
        }
        input[type="checkbox"] {
            margin-right: $margin-xxl;
        }
    }
}

.right-column {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: $margin-xxl;
    row-gap: $margin-xxl;
    padding: $padding-xxl;
    background-color: $background-color;
    .card {
        .image-box {
            overflow: hidden;

            .card-img-top {
                height: 15rem;
                object-fit: cover;

                transition-duration: 0.3s;
                &:hover {
                    transform: scale(1.1);
                    z-index: 0;
                }

            }
        }
        
    }
    :nth-child(1){
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    :nth-child(2){
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    :nth-child(3){
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    :nth-child(4){
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    :nth-child(5){
        grid-column: 5 / 6;
        grid-row: 1 / 2;
    }
    :nth-child(6){
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}