$primary: #37173d;
$secondary: #fc4945;

$background-color: #F9F9F9;

$border-light: 1px solid #F9F9F9;

$radius: 0.5rem;

$font-xxl: 2rem;
$font-xl: 1.5rem;
$font-l: 1.2rem;

$margin-xxl: 1rem;
$margin-xl: 0.5rem;
$margin-l: 0.2rem;

$padding-xxl: 1rem;
$padding-xl: 0.5rem;
$padding-l: 0.2rem;